head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
	meta(name='yandex-verification' content='3b0e96eec5f6362a')
	base(href="/")
	title
		|TITLE
	include ../html/favicon
	meta(name="title" content="TITLE")
	meta(name="keywords" content="keys")
	meta(name="description" content="description")
	meta(name="short_link" content="/")
	meta(property="og:title" content="TITLE")
	meta(property="og:description" content="description")
	meta(property="og:url" content="/")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@ProjectSoft")
	meta(name="twitter:site:id" content="summary_large_image")
	meta(name="twitter:creator" content="@ProjectSoft")
	meta(name="twitter:title" content="TITLE")
	meta(name="twitter:description" content="description")
	link(rel="stylesheet" type="text/css" href=assets+"/css/main.css?"+hash)